.page-wrapper{

    h2 {
        margin-left: 16px;
    }
    
    mat-card {
        margin: 10px;

        .mat-card-content, 
        .mat-card-subtitle {
            font-size: 16px;
            line-height: 15pt;
        }
    }
}