.page-wrapper{
    
    mat-card {
    
        #post-img{
            height: 240px;
            background-position-y: 30%;
        } 

        .mat-card-content, 
        .mat-card-subtitle {
            font-size: 16px;
            line-height: 15pt;
        }
    }
}